// nextflow.config

// Définition des paramètres synthspot
params.synthspot.sc_input = "unit-test/test_sc_data.rds"
params.synthspot.type = "real_artificial"
params.synthspot.reps = 3
params.synthspot.rootdir = "."
params.synthspot.outdir = "results"
params.synthspot.type = "artificial_uniform_distinct"
        params {
            rootdir = "$HOME/spotless-benchmark"
            outdir = [props: "${params.rootdir}/deconv_proportions",
                      metrics: "${params.rootdir}/results",
                      synthspot: "${params.rootdir}/synthetic_data/"]
            sc_input = "${params.rootdir}/unit-test/test_sc_data.rds"
            sp_input = "${params.rootdir}/unit-test/test_sp_data.rds"
            epoch_build = "default"
            epoch_fit = "default"
        }